*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: "Libre Franklin", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center; }

.container {
  max-width: 750px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 750px) {
    .container {
      max-width: 750px; } }

.content__logo {
  width: clamp(5.5rem, 7vw, 8.5rem);
  margin: 8rem 0 3.5rem 0; }
  @media (min-width: 750px) {
    .content__logo {
      margin: 8rem 0 4.2rem 0; } }

.content__title {
  font-size: clamp(2.2rem, 4vw, 4.85rem);
  font-weight: 300;
  color: #969696;
  margin-bottom: 1.7rem; }

.content__span {
  font-weight: 600;
  color: #151f29; }

.content__text {
  font-size: clamp(1.2rem, 3vw, 2rem);
  opacity: 0.9;
  margin-bottom: 3rem; }

.content__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 1rem; }
  @media (min-width: 800px) {
    .content__form {
      flex-direction: row; } }

.content__input {
  width: 83%;
  padding: 1.1rem 3.5rem;
  border-radius: 5rem;
  border: 1px solid #c2d3ff; }
  .content__input::placeholder {
    color: #c2d3ff; }
  @media (min-width: 800px) {
    .content__input {
      padding: 1.7rem 3.5rem; } }

.content__button {
  color: white;
  width: 83%;
  padding: 1.1rem 1.5rem;
  border-radius: 5rem;
  border: 1px solid #4f7df3;
  background-color: #4f7df3;
  box-shadow: rgba(79, 125, 243, 0.2) 0px 10px 10px 0px; }
  @media (min-width: 800px) {
    .content__button {
      padding: 1.7rem 3.5rem; } }

.content__image {
  width: 95%;
  margin-bottom: 10rem; }

.content__icons {
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .content__icons > * {
    border: 1px solid rgba(194, 211, 255, 0.5);
    border-radius: 50%; }
    .content__icons > *:not(:last-child) {
      margin-right: 1.5rem; }
  @media (min-width: 768px) {
    .content__icons {
      margin-bottom: 2rem; } }

.content__icon {
  transition: all 0.2s; }
  .content__icon:hover {
    cursor: pointer;
    fill: #4f7df3;
    background-color: #4f7df3; }

.content__social-link {
  width: 3rem;
  height: 3rem;
  fill: #4f7df3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s; }
  .content__social-link svg {
    width: 1.5rem;
    fill: #4f7df3; }
  .content__social-link:hover {
    cursor: pointer; }

.content__copyright {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin-bottom: 0.5rem; }

.attribution {
  width: 50%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 5rem; }
  .attribution__link:link, .attribution__link:visited {
    text-transform: uppercase;
    transition: all 0.2s; }
