.content {
  &__logo {
    width: clamp(5.5rem, 7vw, 8.5rem);
    margin: 8rem 0 3.5rem 0;
    @media (min-width: 750px) {
      margin: 8rem 0 4.2rem 0;
    }
  }

  &__title {
    font-size: clamp(2.2rem, 4vw, 4.85rem);
    font-weight: 300;
    color: $color-secondary--light;
    margin-bottom: 1.7rem;
  }

  &__span {
    font-weight: 600;
    color: $color-secondary;
  }

  &__text {
    font-size: clamp(1.2rem, 3vw, 2rem);
    opacity: 0.9;
    margin-bottom: 3rem;
    @media (min-width: 1140px) {
      margin-bottom: 4rem;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 1rem;
    @media (min-width: 1140px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__box {
    width: 83%;
    @media (min-width: 1140px) {
      flex: 0 1 69%;
    }
  }

  &__input {
    width: 100%;
    padding: 1.1rem 3.5rem;
    border-radius: 5rem;
    border: 1px solid $color-primary--light;
    font-size: 1.6rem;
    // margin-bottom: 1rem;

    &::placeholder {
      color: $color-primary--light;
    }

    &:focus-visible {
      outline: 1px solid $color-primary;
    }

    @media (min-width: 1140px) {
      width: 100%;
      padding: 1.8rem 3.5rem;
    }
  }

  &__error {
    color: $color-tertiary;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    @media (min-width: 1140px) {
      font-size: 1.3rem;
      padding-left: 3.8rem;
      text-align: left;
    }
  }

  &__button {
    color: $color-white;
    width: 83%;
    padding: 1.1rem 1.5rem;
    border-radius: 5rem;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    transition: all 0.2s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    box-shadow: rgba($color-primary, 0.2) 0px 10px 10px 0px;
    @media (min-width: 1140px) {
      padding: 1.8rem 3.5rem;
      flex: 0 1 31%;
      font-size: 1.6rem;
    }
  }

  &__image {
    width: 90%;
    margin: 5rem 0 7.5rem 0;
    @media (min-width: 1140px) {
      width: 100%;
    }
  }
  &__icons {
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      border: 1px solid rgba($color-primary--light, 0.5);
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $color-primary;

      .content__list-icon {
        fill: $color-white;
      }
    }
  }

  &__social-link {
    width: 3rem;
    height: 3rem;
    fill: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }

  &__list-icon {
    width: 1.5rem;
    fill: $color-primary;
  }

  &__copyright {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-bottom: 0.5rem;
    color: $color-secondary--light;
  }
}

.attribution {
  width: 50%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary--light;
  }
}
